<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something Went Wrong</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <div style="margin-top: 50px;" class="ui container">
      <h1 class="ui center aligned header">Wrong Inputs</h1>
      <p class="ui big header"> Something went wrong  </p>
      <br>
      <a class="ui blue button" href="/">Go Back</a>
    </div>
</body>
  
</html>


